<%= simple_form_for [:inventory, @item], :html => { :class => "form-horizontal" } do |f| %>
	<div class="row">
		<div class="span6">
			<%= f.input :description %>
			<%= f.input :upc %>
			<%= f.input :active %>
			<%= f.input :appointment_type %>
			<%= f.input :duration %>
		</div>
		<div class="span6">
			<%= f.input :regular_retail_price %>
			<%= f.input :current_retail_price %>
			<%= f.association :tax_a %>
			<%= f.association :tax_b %>
		</div>
	</div>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @item.new_record? %>
		<%= link_to "Discard Changes", inventory_services_inventory_index_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", inventory_services_inventory_path(@current_account, @item), :class => "btn" %>
<% end %>
	</div>
<% end %>