<%= simple_form_for [:admin, @guardian_relationship], :html => { :class => "form-horizontal" } do |f| %>
	<%= f.input :name %>
	<%= f.input :active %>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @guardian_relationship.new_record? %>
		<%= link_to "Discard Changes", admin_guardian_relationships_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", admin_guardian_relationship_path(@guardian_relationship), :class => "btn" %>
<% end %>
	</div>
<% end %>