<% @title = "Guardian Relationships" %>
<div class="page-header">
	<h1>Find Guardian Relationships<% if can? :create, GuardianRelationship %><%= link_to "New Guardian Relationship", new_admin_guardian_relationship_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @guardian_relationships.empty? then %>
<p>No guardian relationships found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Relationship</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @guardian_relationships.each do |guardian_relationship| %>
		<tr>
			<td><%= link_to guardian_relationship.name, admin_guardian_relationship_path(guardian_relationship) %></td>
			<td><%= guardian_relationship.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @guardian_relationships %>
<% end %>