<% @title = "Employment Types" %>
<div class="page-header">
	<h1>Find Employment Type <%= link_to "New Employment Type", new_admin_employment_type_path, :class => "btn btn-success pull-right" %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @employment_types.empty? then %>
<p>No employment types found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Employment Type</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @employment_types.each do |employment_type| %>
		<tr>
			<td><%= link_to employment_type.name, admin_employment_type_path(employment_type) %></td>
			<td><%= employment_type.active %>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @employment_types %>
<% end %>