<%= simple_form_for [:admin, @location], :html => { :class => "form-horizontal" } do |f| %>
<div class="row">
	<div class="span6">
		<legend>General</legend>
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :url %>
		<%= f.input :phone %>
		<%= f.input :fax %>
		<%= f.input :address %>
		<%= f.input :city %>
		<%= f.association :state %>
		<%= f.input :postal_code %>
		<%= f.association :country %>
		<%= f.input :active %>
	</div>
	<div class="span6">
		<legend>Hours</legend>
		<table class="table table-condensed">
			<thead>
				<tr><th>&nbsp;</th><th>Open</th><th>Close</th></tr>
			</thead>
			<tbody>
				<tr><th>Monday</th><td><%= f.input_field :monday_open %></td><td><%= f.input_field :monday_close %></td></tr>
				<tr><th>Tuesday</th><td><%= f.input_field :tuesday_open %></td><td><%= f.input_field :tuesday_close %></td></tr>
				<tr><th>Wednesday</th><td><%= f.input_field :wednesday_open %></td><td><%= f.input_field :wednesday_close %></td></tr>
				<tr><th>Thursday</th><td><%= f.input_field :thursday_open %></td><td><%= f.input_field :thursday_close %></td></tr>
				<tr><th>Friday</th><td><%= f.input_field :friday_open %></td><td><%= f.input_field :friday_close %></td></tr>
				<tr><th>Saturday</th><td><%= f.input_field :saturday_open %></td><td><%= f.input_field :saturday_close %></td></tr>
				<tr><th>Sunday</th><td><%= f.input_field :sunday_open %></td><td><%= f.input_field :sunday_close %></td></tr>
			</tbody>
		</table>
	</div>
</div>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @location.new_record? %>
		<%= link_to "Discard Changes", admin_locations_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", admin_location_path(@current_account, @location), :class => "btn" %>
<% end %>
	</div>
<% end %>
