<% @title = "Show Accounts" %>
<div class="page-header">
	<h1><%= @account.name %> (Account)<% if can? :update, @account %><%= link_to "Edit Account", edit_admin_account_path(@account), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>


<dl class="dl-horizontal">
	<dt>Name</dt>
	<dd><%= @account.name || '&nbsp;'.html_safe %></dd>
	<dt>Subdomain</dt>
	<dd><%= @account.subdomain || '&nbsp;'.html_safe %></dd>
	<dt>Plan</dt>
	<dd><%= @account.plan || '&nbsp;'.html_safe %></dd>
	<dt>Active</dt>
	<dd><%= @account.active || '&nbsp;'.html_safe %></dd>
	<dt>Address</dt>
	<dd><%= @account.address || '&nbsp;'.html_safe %></dd>
	<dt>City</dt>
	<dd><%= @account.city || '&nbsp;'.html_safe %></dd>
	<dt>State</dt>
	<dd><%= @account.state || '&nbsp;'.html_safe %></dd>
	<dt>Postal Code</dt>
	<dd><%= @account.postal_code || '&nbsp;'.html_safe %></dd>
	<dt>Country</dt>
	<dd><%= @account.country || '&nbsp;'.html_safe %></dd>
	<dt>Phone</dt>
	<dd><%= @account.phone || '&nbsp;'.html_safe %></dd>
	<dt>Fax</dt>
	<dd><%= @account.fax || '&nbsp;'.html_safe %></dd>
	<dt>Url</dt>
	<dd><%= @account.url || '&nbsp;'.html_safe %></dd>
</dl>
