<%= simple_form_for @invoice, :html => { :class => "form-horizontal" } do |f| %>
	<div class="row">
		<div class="span12">
			<div class="btn-toolbar">
				<div class="btn-group">
				    <%= link_to "Find Patient", invoice_patients_path(@invoice), :class => "btn" %>
				    <%= link_to "Cash Sale", invoice_cash_sale_path(@invoice), :class => "btn" %>
				</div>
<% if @invoice.patient != nil then %>
				<div class="btn-group">
					<%= link_to "Dispense Glasses", new_invoice_glasses_dispensing_path(@invoice), :class => "btn" %>
					<%= link_to "Dispense Conacts", new_invoice_contacts_dispensing_path(@invoice), :class => "btn" %>
				</div>
<% end %>
				<div class="btn-group">
					<%= link_to "Add Service", services_invoice_items_path(@invoice), :class => "btn" %>
					<%= link_to "Add Accessories", accessories_invoice_items_path(@invoice), :class => "btn" %>
					<%= link_to "Add Other", new_invoice_item_path(@invoice), :class => "btn" %>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<address>
						<strong><%= @invoice.name %></strong><br>
						<%= @invoice.address %><br>
						<%= @invoice.city %>, <%= @invoice.state %> <%= @invoice.postal_code %><br>
						<%= @invoice.country %>
					</address>
				</div>
				<div class="span4">
					<p>Invoice: #<%= @invoice.id %></p>
					<p>Date: <%= @invoice.invoice_date %></p>
				</div>
				<div class="span4">
				
				</div>
			</div>
			<div class="well">
				Item <input type="text" class="span5 search-query">
				<button type"submit" class="btn">Add</button>
			</div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Item</th>
						<th>Unit</th>
						<th>Discount</th>
						<th>Qty</th>
						<th>&nbsp;</th>
						<th>Price</th>
						<th>Tax A</th>
						<th>Tax B</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
<% if @invoice.dispensing != nil then %>
					<tr>
						<th colspan="9">Dispensing</th>
					</tr>
<% @invoice.dispensing.each do |dispensing| %>
					<tr>
						<td colspan="2"><%= dispensing.description %><!--(<a href="invoices_glasses.html">#123</a>)--></td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td colspan="2">&nbsp;</td>
						<td><input type="text" value="99.00" class="currency input-small" disabled="disabled"></td>
						<td>Tax B</td>
						<td>Tax B</td>
						<td><%= simple_form_for [@invoice, dispensing], :method => 'delete' do |x| %><input type="submit" class="btn btn-danger" value="Remove"><% end %></td>
					</tr>
					<tr>
						<td>+ Frames</td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Discount" class="currency input-small"></td>
						<td><input type="text" value="Qty" class="qty input-small"></td>
						<td><input type="text" value="Price" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>+ Plastic Lense OD</td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Discount" class="currency input-small"></td>
						<td><input type="text" value="Qty" class="qty input-small"></td>
						<td><input type="text" value="Price" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>+ Plastic Lense OD</td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Discount" class="currency input-small"></td>
						<td><input type="text" value="Qty" class="qty input-small"></td>
						<td><input type="text" value="Price" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
<% end %>
<% end %>
<% if @invoice.items != nil then %>
					<tr>
						<th colspan="9">Other</th>
					</tr>
<% @invoice.items.each do |item| %>
					<tr>
						<td colspan="2"><%= item.description %><!--(<a href="invoices_glasses.html">#123</a>)--></td>
						<td><input type="text" value="<%= item.unit_price %>" class="currency input-small"></td>
						<td colspan="2">&nbsp;</td>
						<td><input type="text" value="99.00" class="currency input-small" disabled="disabled"></td>
						<td><%= item.tax_a %></td>
						<td><%= item.tax_b %></td>
						<td><%= simple_form_for [@invoice, item], :method => 'delete' do |x| %><input type="submit" class="btn btn-danger" value="Remove"><% end %></td>
					</tr>
<% end %>
<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5">Sub Total</th>
						<th><input type="text" value="TBD" class="currency input-small" disabled="disabled"></th>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5">Discount</td>
						<td><input type="text" value="TBD" class="currency input-small"></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5">Tax A</td>
						<td><input type="text" value="TBD" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5">Tax B</td>
						<td><input type="text" value="TBD" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th colspan="5">Total</th>
						<th><input type="text" value="<%= @invoice.total %>" class="currency input-small" disabled="disabled"></th>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5">Paid</td>
						<td><input type="text" value="<%= @invoice.paid %>" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th colspan="5">Balance</th>
						<th><input type="text" value="<%= @invoice.balance %>" class="currency input-small" disabled="disabled"></th>
						<td>&nbsp;</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @invoice.new_record? %>
		<%= link_to "Discard Changes", invoices_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", invoice_path(@invoice), :class => "btn" %>
<% end %>
	</div>
<% end %>

		<div id="void-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Void Transaction</h3>
			</div>
			<div class="modal-body">
				<p><strong>Warning!</strong> This action cannot be undone.</p>
				<p>Are you sure you want to void this transaction?</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<%= link_to "Void Transaction", invoice_void_path(@invoice), :class => "btn btn-danger" %>
			</div>
		</div>