<% @title = "Invoice #" + @invoice.id.to_s %>
<div class="page-header">
	<h1>Invoice #<%= @invoice.id %> (Invoice)</h1>
</div>

	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span4">
					<address>
						<strong><%= @invoice.name %></strong><br>
						<%= @invoice.address %><br>
						<%= @invoice.city %>, <%= @invoice.state %> <%= @invoice.postal_code %><br>
						<%= @invoice.country %>
					</address>
				</div>
				<div class="span4">
					<p>Invoice: #<%= @invoice.id %></p>
					<p>Date: <%= @invoice.invoice_date %></p>
				</div>
				<div class="span4">
				
				</div>
			</div>
<% if can?(:set_patient, @invoice) || can?(:set_cash_sale, @invoice) %>
			<div class="btn-toolbar">
				<div class="btn-group">
<% if can? :set_patient, @invoice %>
					<a href="<%= invoice_patients_path(@current_account, @invoice) %>" class="btn"><i class="icon-search"></i></a><a href="#" class="btn"><i class="icon-plus"></i></a>
<% end %>
<% if can? :set_cash_sale, @invoice %>
				    <%= link_to "Cash Sale", invoice_cash_sale_path(@current_account, @invoice), :class => "btn", :method => :put %>
<% end %>
				</div>
<% if @invoice.patient != nil then %>
<% if can? :create, Dispensing %>
				<div class="btn-group">
					<%= link_to "Dispense Glasses", new_invoice_glasses_dispensing_path(@current_account, @invoice), :class => "btn" %>
					<%= link_to "Dispense Conacts", new_invoice_contacts_dispensing_path(@current_account, @invoice), :class => "btn" %>
				</div>
<% end %>
<% end %>
				<div class="btn-group">
<% if can? :read, Inventory %>
					<%= link_to "Add Service", services_invoice_items_path(@current_account, @invoice), :class => "btn" %>
					<%= link_to "Add Accessories", accessories_invoice_items_path(@current_account, @invoice), :class => "btn" %>
<% end %>
					<%= link_to "Add Other", new_invoice_item_path(@current_account, @invoice), :class => "btn" %>
				</div>
			</div>
<% end %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Item</th>
						<th>Unit</th>
						<th>Discount</th>
						<th>Qty</th>
						<th>&nbsp;</th>
						<th>Price</th>
						<th>Tax A</th>
						<th>Tax B</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
<% if @invoice.dispensing.count > 0 then %>
					<tr>
						<th colspan="9">Dispensing</th>
					</tr>
<% @invoice.dispensing.each do |dispensing| %>
					<tr>
						<td colspan="2"><% if dispensing.type == 'GlassesDispensing' %>Glasses<% else %>Contacts<% end %> (<%= link_to '#' + dispensing.id.to_s, invoice_glasses_dispensing_path(@current_account, @invoice, dispensing) %>):<% if dispensing.description != nil %><br><%= dispensing.description %><% end %></td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Qty" class="qty input-small"></td>
						<td>&nbsp;</td>
						<td><input type="text" value="99.00" class="currency input-small" disabled="disabled"></td>
						<td>Tax B</td>
						<td>Tax B</td>
						<td><% if @invoice.read_only? == false %><a href="#"><i class="icon-edit"></i></a><a href="#remove-modal" role="button" data-toggle="modal"><i class="icon-remove"></i></a><% end %></td>
					</tr>
<% if dispensing.type == 'GlassesDispensing' %>
					<tr>
						<td>+ Frames</td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Discount" class="currency input-small"></td>
						<td>1</td>
						<td><input type="text" value="Price" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
<% end %>
					<tr>
						<td>+ Plastic Lense OD
						<% if dispensing.od_sphere != nil %><br>&nbsp;&nbsp;SPH: <% dispensing.od_sphere %><% end %>
						<% if dispensing.od_cylinder != nil %><br>&nbsp;&nbsp;CYL: <% dispensing.od_cylinder %><% end %>
						<% if dispensing.od_axis != nil %><br>&nbsp;&nbsp;AXIS: <% dispensing.od_axis %><% end %>
						<% if dispensing.od_add != nil %><br>&nbsp;&nbsp;ADD: <% dispensing.od_add %><% end %>
						<% if dispensing.od_prism1 != nil %><br>&nbsp;&nbsp;PRISM1: <% dispensing.od_prism1 %><% end %>
						<% if dispensing.od_base1 != nil %><br>&nbsp;&nbsp;BASE1: <% dispensing.od_base1 %><% end %>
						<% if dispensing.od_prism2 != nil %><br>&nbsp;&nbsp;PRISM2: <% dispensing.od_prism2 %><% end %>
						<% if dispensing.od_base2 != nil %><br>&nbsp;&nbsp;BASE2: <% dispensing.od_base2 %><% end %>
						<% if dispensing.od_base_curve!= nil %><br>&nbsp;&nbsp;BC: <% dispensing.od_base_curve %><% end %>
						<% if dispensing.od_diameter != nil %><br>&nbsp;&nbsp;DIA: <% dispensing.od_diameter %><% end %>
						</td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Discount" class="currency input-small"></td>
						<td>&nbsp</td>
						<td><input type="text" value="Price" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>+ Plastic Lense OS
						<% if dispensing.os_sphere != nil %><br>&nbsp;&nbsp;SPH: <% dispensing.os_sphere %><% end %>
						<% if dispensing.os_cylinder != nil %><br>&nbsp;&nbsp;CYL: <% dispensing.os_cylinder %><% end %>
						<% if dispensing.os_axis != nil %><br>&nbsp;&nbsp;AXIS: <% dispensing.os_axis %><% end %>
						<% if dispensing.os_add != nil %><br>&nbsp;&nbsp;ADD: <% dispensing.os_add %><% end %>
						<% if dispensing.os_prism1 != nil %><br>&nbsp;&nbsp;PRISM1: <% dispensing.os_prism1 %><% end %>
						<% if dispensing.os_base1 != nil %><br>&nbsp;&nbsp;BASE1: <% dispensing.os_base1 %><% end %>
						<% if dispensing.os_prism2 != nil %><br>&nbsp;&nbsp;PRISM2: <% dispensing.os_prism2 %><% end %>
						<% if dispensing.os_base2 != nil %><br>&nbsp;&nbsp;BASE2: <% dispensing.os_base2 %><% end %>
						<% if dispensing.os_base_curve!= nil %><br>&nbsp;&nbsp;BC: <% dispensing.os_base_curve %><% end %>
						<% if dispensing.os_diameter != nil %><br>&nbsp;&nbsp;DIA: <% dispensing.os_diameter %><% end %>
						</td>
						<td><input type="text" value="Unit Price" class="currency input-small"></td>
						<td><input type="text" value="Discount" class="currency input-small"></td>
						<td>&nbsp</td>
						<td><input type="text" value="Price" class="currency input-small" disabled="disabled"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
<% end %>
<% end %>
<% if @invoice.items.count > 0 then %>
					<tr>
						<th colspan="9">Other</th>
					</tr>
<% @invoice.items.each do |item| %>
					<tr>
						<td><%= link_to item.description, invoice_item_path(@current_account, @invoice, item) %></td>
						<td><%= number_with_precision(item.unit_price, :precision => 2) %></td>
						<td><%= number_with_precision(item.discount, :precision => 2) %></td>
						<td><%= number_with_precision(item.qty, :precision => 2) %></td>
						<td>&nbsp;</td>
						<td><%= number_with_precision(item.total_price, :precision => 2) %></td>
						<td><%= item.tax_a %></td>
						<td><%= item.tax_b %></td>
						<td><% if @invoice.read_only? == false %><a href="<%= edit_invoice_item_path(@current_account, @invoice, item) %>"><i class="icon-edit"></i></a><a href="#remove-modal" role="button" onclick="removeItem('<%= invoice_item_path(@current_account, @invoice, item) %>')"><i class="icon-remove"></i></a><% end %></td>
					</tr>
<% end %>
<% end %>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5">Sub Total</th>
						<th><%= number_with_precision(@invoice.sub_total, :precision => 2) %></th>
						<th colspan="3">&nbsp;</th>
					</tr>
<% @invoice.taxes.each do |tax| %>
					<tr>
						<td colspan="5"><%= tax[:tax] %></td>
						<td><%= number_with_precision(tax[:amount], :precision => 2) %></th>
						<th colspan="3">&nbsp;</th>
					</tr>
<% end %>
					<tr>
						<th colspan="5">Total</th>
						<th><%= number_with_precision(@invoice.total, :precision => 2) %></th>
						<th colspan="3">&nbsp;</th>
					</tr>
					<tr>
						<td colspan="5">Paid</td>
						<td><%= number_with_precision(@invoice.paid, :precision => 2) %></th>
						<th colspan="3">&nbsp;</th>
					</tr>
					<tr>
						<th colspan="5">Balance</th>
						<th><%= number_with_precision(@invoice.balance, :precision => 2) %></th>
						<th colspan="3">&nbsp;</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
		
	<div id="remove-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Remove Item</h3>
		</div>
		<div class="modal-body">
			<p><strong>Warning!</strong> This action cannot be undone.</p>
			<p>Are you sure you want to remove this item?</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<a href="/dev/invoices/1" class="btn btn-danger" data-method="delete" rel="nofollow" id="remove-item-link">Remove Item</a>
		</div>
	</div>
	
	<div id="void-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Void Transaction</h3>
		</div>
		<div class="modal-body">
			<p><strong>Warning!</strong> This action cannot be undone.</p>
			<p>Are you sure you want to void this transaction?</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<%= link_to "Void Transaction", invoice_void_path(@current_account, @invoice), :class => "btn btn-danger" %>
		</div>
	</div>
	
	<script type="text/javascript">
		function removeItem(path)
		{
			$('#remove-item-link').prop('href', path);  // <-- Change the path here
			$('#remove-modal').modal('show');
		}
	</script>