<% @title = "Taxes" %>
<div class="page-header">
	<h1>Find Taxes<% if can? :create, Tax %><%= link_to "New Tax", new_admin_tax_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @taxes.empty? then %>
<p>No taxes found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rate</th>
		</tr>
	</thead>
	<tbody>
<% @taxes.each do |tax| %>
		<tr>
			<td><%= link_to tax.name, admin_tax_path(tax) %></td>
			<td><%= tax.rate %>%</td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @taxes %>
<% end %>