<% @title = "Lens Materials" %>
<div class="page-header">
	<h1>Find Lens Materials<% if can? :create, LensMaterial %><%= link_to "New Lens Materials", new_admin_lens_material_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @lens_materials.empty? then %>
<p>No lens materials found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Lens Material</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @lens_materials.each do |lens_material| %>
		<tr>
			<td><%= link_to lens_material.name, admin_lens_material_path(@current_account, lens_material) %></td>
			<td><%= lens_material.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @lens_materials %>
<% end %>