<% @title = "Brands" %>
<div class="page-header">
	<h1>Brands<% if can? :create, Brand %><%= link_to "New Brand", new_admin_brand_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @brands.empty? then %>
<p>No brands found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Brand</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @brands.each do |brand| %>
		<tr>
			<td><%= link_to brand.name, admin_brand_path(@current_account, brand) %></td>
			<td><%= brand.active %>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @brands %>
<% end %>