<%= simple_form_for [:admin, @employee], :html => { :class => "form-horizontal" } do |f| %>
	<%= f.association :personal_title %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.input :active %>
	<%= f.input :administrator %>
	<%= f.input :dispensing_optician %>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @employee.new_record? %>
		<%= link_to "Discard Changes", admin_employees_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", admin_employee_path(@employee), :class => "btn" %>
<% end %>
	</div>
<% end %>