<% @title = "Companies" %>
<div class="page-header">
	<h1>Find Company<% if can? :create, Company %><%= link_to "New Company", new_admin_company_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @companies.empty? then %>
<p>No companies found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Company</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @companies.each do |company| %>
		<tr>
			<td><%= link_to company.name, admin_company_path(@current_account, company) %></td>
			<td><%= company.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @companies %>
<% end %>