<%= simple_form_for [@invoice, @dispensing], :html => { :class => "form-horizontal" } do |f| %>
	<%= f.input :description %>
	<%= f.input :rx_date %>
	<%= f.input :expiry_date %>
	<%= f.association :optometrist, :collection => @current_account.optometrists %>
	<%= f.input :notes, :input_html => { :class => 'input-xxlarge', :rows => 5 } %>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Sphere</th>
				<th>Cylinder</th>
				<th>Axis</th>
				<th>Add</th>
				<th>Prism</th>
				<th>Base</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th rowspan="2">OD</th>
				<td rowspan="2"><%= f.input_field :od_sphere, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_sphere) ? 'border: 1px solid #ff0000' : '') %></td>
				<td rowspan="2"><%= f.input_field :od_cylinder, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_cylinder) ? 'border: 1px solid #ff0000' : '') %></td>
				<td rowspan="2"><%= f.input_field :od_axis, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_axis) ? 'border: 1px solid #ff0000' : '') %></td>
				<td rowspan="2"><%= f.input_field :od_add, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_add) ? 'border: 1px solid #ff0000' : '') %></td>
				<td><%= f.input_field :od_prism1, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_prism1) ? 'border: 1px solid #ff0000' : '') %></td>
				<td><%= f.input_field :od_base1, :collection => {'Up' => :up, 'Down' => :down, 'In' => :in, 'Out' => :out}, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_base1) ? 'border: 1px solid #ff0000' : '') %></td>
			</tr>
			<tr>
				<td><%= f.input_field :od_prism2, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_prism2) ? 'border: 1px solid #ff0000' : '') %></td>
				<td><%= f.input_field :od_base2, :collection => {'Up' => :up, 'Down' => :down, 'In' => :in, 'Out' => :out}, :class => 'input-small', :style => (@dispensing.errors.has_key?(:od_base2) ? 'border: 1px solid #ff0000' : '') %></td>
			</tr>
			<tr>
				<th rowspan="2">OS</th>
				<td rowspan="2"><%= f.input_field :os_sphere, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_sphere) ? 'border: 1px solid #ff0000' : '') %></td>
				<td rowspan="2"><%= f.input_field :os_cylinder, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_cylinder) ? 'border: 1px solid #ff0000' : '') %></td>
				<td rowspan="2"><%= f.input_field :os_axis, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_axis) ? 'border: 1px solid #ff0000' : '') %></td>
				<td rowspan="2"><%= f.input_field :os_add, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_add) ? 'border: 1px solid #ff0000' : '') %></td>
				<td><%= f.input_field :os_prism1, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_prism1) ? 'border: 1px solid #ff0000' : '') %></td>
				<td><%= f.input_field :os_base1, :collection => {'Up' => :up, 'Down' => :down, 'In' => :in, 'Out' => :out}, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_base1) ? 'border: 1px solid #ff0000' : '') %></td>
			</tr>
			<tr>
				<td><%= f.input_field :os_prism2, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_prism2) ? 'border: 1px solid #ff0000' : '') %></td>
				<td><%= f.input_field :os_base2, :collection => {'Up' => :up, 'Down' => :down, 'In' => :in, 'Out' => :out}, :class => 'input-small', :style => (@dispensing.errors.has_key?(:os_base2) ? 'border: 1px solid #ff0000' : '') %></td>
			</tr>
		</tbody>
	</table>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @dispensing.new_record? %>
		<%= link_to "Discard Changes", invoice_path(@current_account, @invoice), :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", invoice_contacts_dispensing_path(@current_account, @invoice, @dispensing), :class => "btn" %>
<% end %>
	</div>
<% end %>