<%= simple_form_for @account, :url => registration_path, :html => { :class => "form-horizontal" } do |f| %>
    <p>You're one step away from using Optician Plus, a new web based EHR management system for opticians and optometrists. To begin
	we need few details about you and your business. These will allow us to set up	your account and customize it to your location.</p>

<div class="row">
<div class="span6">
	<h2>About Your Business</h2>
	<%= f.input :name %>
	<%= f.input :address %>
	<%= f.input :city %>
	<%= f.association :state %>
	<%= f.input :postal_code %>
	<%= f.association :country %>
	<%= f.input :phone %>
	<%= f.input :fax %>
	<%= f.input :url %>
</div>	
<div class="span6">
	<h2>About Yourself</h2>
<%= f.simple_fields_for :employees do |e| %>
    <%= e.input :first_name %>
	<%= e.input :last_name %>
	<%= e.input :email %>
	<%= e.input :password %>
	<%= e.input :password_confirmation %>
<% end %>
	<h2>About Your Account</h2>
	<%= f.input :subdomain, :wrapper => :prepend do %>
	<%= content_tag :span, "http://app.opticianplus.com/", :class => "add-on" %>
	<%= f.input_field :subdomain, :class => "input-medium" %>
	<% end %>
	<%= f.input :plan_id, :label => "Plan", :collection => Plan.all %>

</div>
</div>



	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
	</div>
<% end %>