<% @title = "Patient Spectacles" %>
<div class="page-header">
	<h1><%= @patient.full_name %> (Patient)</h1>
</div>




<ul class="nav nav-tabs">
	<li><%= link_to "Profile", patient_path(@patient) %></li>
	<li class="active"><%= link_to "Spectacles", patient_spectacles_prescriptions_path(@patient, @spectacles_prescription) %></li>
	<li><%= link_to "Contacts", patient_contacts_prescriptions_path(@patient, @contacts_prescription) %></li>
	<li><a href="patients_dispensing.html">Dispensing</a></li>
	<li><a href="patients_appointments.html">Appointments</a></li>
	<li><a href="patients_sales.html">Sales</a></li>
</ul>

<div class="btn-toolbar">
	<div class="btn-group">
		<%= link_to "Current", current_patient_spectacles_prescriptions_path(@patient), :class => "btn" %>
		<%= link_to "History", patient_spectacles_prescriptions_path(@patient), :class => "btn btn-primary" %>
	</div>
	<div class="btn-group pull-right">
		<%= link_to "New Prescription", :new_patient_spectacles_prescription, :class => "btn btn-success" %>
	</div>
</div>

<% if @spectacles_prescriptions.empty? then %>
<p>No spectacles prescriptions found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Rx Date</th>
			<th>Optician</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
<% @spectacles_prescriptions.each do |spectacles_prescription| %>
		<tr>
			<td><%= link_to spectacles_prescription.rx_date, patient_spectacles_prescription_path(@patient, spectacles_prescription) %></td>
			<td><%= link_to spectacles_prescription.optometrist, patient_spectacles_prescription_path(@patient, spectacles_prescription) %></td>
			<td><%= spectacles_prescription.description %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @spectacles_prescriptions %>
<% end %>