<% @title = "Stores" %>
<div class="page-header">
	<h1>Find Store<% if can? :create, Store %><%= link_to "New Store", new_admin_store_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @stores.empty? then %>
<p>No stores found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>City</th>
			<th>Postal Code</th>
			<th>State</th>
			<th>Phone</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @stores.each do |store| %>
		<tr>
			<td><%= link_to store.name, admin_store_path(@current_account, store) %></td>
			<td><%= store.address %></td>
			<td><%= store.city %></td>
			<td><%= store.postal_code %></td>
			<td><%= store.state %></td>
			<td><%= store.phone %></td>
			<td><%= store.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @stores %>
<% end %>