<% @title = "Show Store" %>
<div class="page-header">
	<h1><%= @store.name %> (Store) <%= link_to "Edit Store", edit_admin_store_path(@store), :class => "btn btn-primary pull-right" %></h1>
</div>

<div class="row">
	<div class="span6">
		<dl class="dl-horizontal">
			<dt>Name</dt>
			<dd><%= @store.name %></dd>
			<dt>Email</dt>
			<dd><%= @store.email %></dd>
			<dt>Website</dt>
			<dd><%= @store.url %></dd>
			<dt>Phone</dt>
			<dd><%= @store.phone %></dd>
			<dt>Fax</dt>
			<dd><%= @store.fax %></dd>
			<dt>Address</dt>
			<dd><%= @store.address %></dd>
			<dt>City</dt>
			<dd><%= @store.city %></dd>
			<dt>State</dt>
			<dd><%= @store.state %></dd>
			<dt>Postal Code</dt>
			<dd><%= @store.postal_code %></dd>
			<dt>Country</dt>
			<dd><%= @store.country %></dd>
			<dt>Active</dt>
			<dd><%= @store.active %></dd>
		</dl>
	</div>
	<div class="span6">
		<dl>
			<dt style="float: left; clear: left; width: 12ex">Monday<dt><dd><%= @store.monday_open.strftime('%H:%M') %> - <%= @store.monday_close.strftime('%H:%M') %></dd>
			<dt style="float: left; clear: left; width: 12ex">Tuesday<dt><dd><%= @store.tuesday_open.strftime('%H:%M') %> - <%= @store.tuesday_close.strftime('%H:%M') %></dd>
			<dt style="float: left; clear: left; width: 12ex">Wednesday<dt><dd><%= @store.wednesday_open.strftime('%H:%M') %> - <%= @store.wednesday_close.strftime('%H:%M') %></dd>
			<dt style="float: left; clear: left; width: 12ex">Thursday<dt><dd><%= @store.thursday_open.strftime('%H:%M') %> - <%= @store.thursday_close.strftime('%H:%M') %></dd>
			<dt style="float: left; clear: left; width: 12ex">Friday<dt><dd><%= @store.friday_open.strftime('%H:%M') %> - <%= @store.friday_close.strftime('%H:%M') %></dd>
			<dt style="float: left; clear: left; width: 12ex">Saturday<dt><dd><%= @store.saturday_open.strftime('%H:%M') %> - <%= @store.saturday_close.strftime('%H:%M') %></dd>
			<dt style="float: left; clear: left; width: 12ex">Sunday<dt><dd><%= @store.sunday_open.strftime('%H:%M') %> - <%= @store.sunday_close.strftime('%H:%M') %></dd>
		</dl>
	</div>
</div>