<% @title = "Countries" %>
<div class="page-header">
	<h1>Find Country<% if can? :create, Country %><%= link_to "New Country", new_admin_country_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @countries.empty? then %>
<p>No countries found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @countries.each do |country| %>
		<tr>
			<td><%= link_to country.name, admin_country_path(country) %></td>
			<td><%= country.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @countries %>
<% end %>