<% if @patient.new_record? %>
<ul class="nav nav-tabs">
	<li class="active"><a href="#">Profile</a></li>
	<li class="disabled"><a href="patients_medical.html">Medical</a></li>
	<li class="disabled"><a href="patients_glasses.html">Glasses</a></li>
	<li class="disabled"><a href="patients_contacts.html">Contacts</a></li>
	<li class="disabled"><a href="patients_dispensing.html">Dispensing</a></li>
	<li class="disabled"><a href="patients_appointments.html">Appointments</a></li>
	<li class="disabled"><a href="patients_sales.html">Sales</a></li>
</ul>
<% else %>
<ul class="nav nav-tabs">
	<li class="active"><%= link_to "Profile", edit_patient_path(@patient) %></li>
	<li><a href="patients_medical.html">Medical</a></li>
	<li><a href="patients_glasses.html">Glasses</a></li>
	<li><a href="patients_contacts.html">Contacts</a></li>
	<li><a href="patients_dispensing.html">Dispensing</a></li>
	<li><a href="patients_appointments.html">Appointments</a></li>
	<li><a href="patients_sales.html">Sales</a></li>
</ul>
<% end %>
<%= simple_form_for @patient, :html => { :class => "form-horizontal" } do |f| %>
<legend>General</legend>
	<%= f.association :personal_title %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :preferred_name %>
	<%= f.association :gender %>
	<%= f.input :birthday %>
<legend>Contact</legend>
	<%= f.input :home_phone %>
	<%= f.input :work_phone %>
	<%= f.input :mobile_phone %>
	<%= f.input :email %>
<legend>Home Address</legend>
	<%= f.input :home_address %>
	<%= f.input :home_city %>
	<%= f.association :home_state %>
	<%= f.input :home_postal_code %>
	<%= f.association :home_country %>
<legend>Postal Address</legend>
	<%= f.input :postal_address %>
	<%= f.input :postal_city %>
	<%= f.association :postal_state %>
	<%= f.input :postal_postal_code %>
	<%= f.association :postal_country %>
<legend>Other</legend>
	<%= f.input :note %>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @patient.new_record? %>
		<%= link_to "Discard Changes", patients_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", patient_path(@patient), :class => "btn" %>
<% end %>
	</div>
<% end %>