<% if @patient.new_record? %>
<ul class="nav nav-tabs">
	<li class="active"><a href="#">Profile</a></li>
	<li class="disabled"><a href="patients_glasses.html">Glasses</a></li>
	<li class="disabled"><a href="patients_contacts.html">Contacts</a></li>
	<li class="disabled"><a href="patients_dispensing.html">Dispensing</a></li>
	<li class="disabled"><a href="patients_appointments.html">Appointments</a></li>
	<li class="disabled"><a href="patients_sales.html">Sales</a></li>
</ul>
<% else %>
<ul class="nav nav-tabs">
	<li class="active"><%= link_to "Profile", patient_path(@patient) %></li>
	<li><%= link_to "Spectacles", current_patient_spectacles_prescriptions_path(@patient) %></li>
	<li><a href="patients_contacts.html">Contacts</a></li>
	<li><a href="patients_dispensing.html">Dispensing</a></li>
	<li><a href="patients_appointments.html">Appointments</a></li>
	<li><a href="patients_sales.html">Sales</a></li>
</ul>
<% end %>
<%= simple_form_for @patient, :html => { :class => "form-horizontal" } do |f| %>
<div class="row">
	<div class="span6">
	<legend>General</legend>
		<%= f.association :personal_title, :input_html => { :class => 'input-small' } %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :preferred_name %>
		<%= f.association :gender, :input_html => { :class => 'input-medium' } %>
		<%= f.input :birthday, :input_html => { :class => 'input-small' }, :start_year => 1900 %>
	</div>
	<div class="span6">
	<legend>Contact</legend>
		<%= f.input :home_phone %>
		<%= f.input :work_phone %>
		<%= f.input :mobile_phone %>
		<%= f.input :email %>
	</div>
</div>
<div class="row">
	<div class="span6">
	<legend>Home Address</legend>
		<%= f.input :home_address %>
		<%= f.input :home_city %>
		<%= f.association :home_state %>
		<%= f.input :home_postal_code %>
		<%= f.association :home_country %>
	</div>
	<div class="span6">
	<legend>Postal Address</legend>
		<%= f.input :postal_address %>
		<%= f.input :postal_city %>
		<%= f.association :postal_state %>
		<%= f.input :postal_postal_code %>
		<%= f.association :postal_country %>
	</div>
</div>
<div class="row">
	<div class="span6">
	<legend>Employment</legend>
		<%= f.association :employment_type %>
		<%= f.input :occupation %>
	</div>
	<div class="span6">
	<legend>Guardian</legend>
		<%= f.input :guardian_name %>
		<%= f.association :guardian_relationship %>
		<%= f.input :guardian_phone %>
		<%= f.input :guardian_alt_phone %>
</div>
</div>
<div class="row">
	<div class="span6">
	<legend>Doctors</legend>
	<%= f.association :optometrist %>
	</div>
	<div class="span6">
	<legend>Medical Conditions</legend>
	<%= f.input :smoker %>
	<%= f.input :alergies, :input_html => { :class => 'input-xlarge', :rows => 5 } %>
	<%= f.input :medical_other, :input_html => { :class => 'input-xlarge', :rows => 5 } %>
	</div>
</div>
<div class="row">
	<div class="span12">
	<legend>Other</legend>
		<%= f.input :note, :input_html => { :class => 'input-xxlarge', :rows => 5 } %>
	</div>
</div>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @patient.new_record? %>
		<%= link_to "Discard Changes", patients_path, :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", patient_path(@patient), :class => "btn" %>
<% end %>
	</div>
<% end %>