<% @title = "Patient Dispensing" %>
<div class="page-header">
	<h1><%= @patient %> (Patient)</h1>
</div>




<ul class="nav nav-tabs">
	<li><%= link_to "Profile", patient_path(@current_account, @patient) %></li>
	<li><%= link_to "Glasses", current_patient_glasses_prescriptions_path(@current_account, @patient, @glasses_prescription) %></li>
	<li><%= link_to "Contacts", current_patient_contacts_prescriptions_path(@current_account, @patient, @contacts_prescription) %></li>
	<li class="active"><%= link_to "Dispensing", patient_dispensing_path(@current_account, @patient) %></li>
	<li><%= link_to "Invoices", patient_invoices_path(@current_account, @patient) %></li>
</ul>

<% if @dispensing.empty? then %>
<p>No dispensing found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Invoice</th>
			<th>Rx Date</th>
			<th>Type</th>
			<th>Optician</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
<% @dispensing.each do |d| %>
		<tr>
			<td><%= link_to d.id, invoice_path(@current_account, d.invoice) %></td>
			<td><%= link_to d.invoice.id, invoice_path(@current_account, d.invoice) %></td>
			<td><%= link_to d.rx_date, invoice_path(@current_account, d.invoice) %></td>
			<td><%= d.type %></td>
			<td><%= d.optometrist %></td>
			<td><%= d.description %></td>
			<td><a href="#" class="btn btn-primary">Repeat</a></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @dispensing %>
<% end %>