<% @title = "Patient Sales" %>
<div class="page-header">
	<h1><%= @patient %> (Patient)</h1>
</div>




<ul class="nav nav-tabs">
	<li><%= link_to "Profile", patient_path(@patient) %></li>
	<li><%= link_to "Glasses", patient_glasses_prescriptions_path(@patient, @glasses_prescription) %></li>
	<li><%= link_to "Contacts", patient_contacts_prescriptions_path(@patient, @contacts_prescription) %></li>
	<li><%= link_to "Dispensing", patient_dispensing_path(@patient) %></li>
	<li class="active"><%= link_to "Invoices", patient_invoices_path(@patient) %></li>
</ul>

<div class="btn-toolbar">
	<div class="btn-group pull-right">
		<%= link_to "New Invoice", :new_invoice, :class => "btn btn-success" %>
	</div>
</div>

<% if @invoices.empty? then %>
<p>No invoices found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Date</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
<% @invoices.each do |invoice| %>
		<tr>
			<td><%= link_to invoice.id, invoice_path(invoice) %></td>
			<td><%= invoice.invoice_date %></td>
			<td><%= invoice_status_label(invoice) %></td>
			<td><%= invoice.total %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @invoices %>
<% end %>