<% @title = "Services" %>
<div class="page-header">
	<h1>Accessories</h1>
</div>	

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @items.empty? then %>
<p>No items found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Description</th>
			<th>Available</th>
			<th>Regular Price</th>
			<th>Current Price</th>
			<th>Tax A</th>
			<th>Tax B</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
<% @items.each do |item| %>
		<tr>
			<td><%= link_to item.description, inventory_path(item) %></td>
			<td><%= item.stock_available %></td>
			<td><%= item.regular_retail_price %></td>
			<td><%= item.current_retail_price %></td>
			<td><%= item.tax_a %></td>
			<td><%= item.tax_b %></td>
			<td><%= simple_form_for invoice_items_path(@invoice), :method => 'post', :style => 'border: 0' do |f| %><input type="hidden" name="inventory_id" value="<%= item.id %>"><input type="submit" value="Add" class="btn btn-primary"><% end %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @items %>
<% end %>