<% @title = "Line" %>
<div class="page-header">
	<h1><%= @item.description %> (Line Item) <%= link_to "Edit Item", edit_invoice_item_path(@invoice, @item), :class => "btn btn-primary pull-right" %></h1>
</div>

<dl class="dl-horizontal">
	<dt>Description</dt>
	<dd><%= @item.description || '&nbsp;'.html_safe %></dd>
	<dt>Unit Price</dt>
	<dd><%= @item.unit_price || '&nbsp;'.html_safe %></dd>
	<dt>Discount</dt>
	<dd><%= @item.discount || '&nbsp;'.html_safe %></dd>
	<dt>Qty</dt>
	<dd><%= @item.qty || '&nbsp;'.html_safe %></dd>
	<dt>Total Price</dt>
	<dd><%= @item.total_price || '&nbsp;'.html_safe %></dd>
	<dt>Tax A</dt>
	<dd><%= @item.tax_a_amount || '&nbsp;'.html_safe %></dd>
	<dt>Tax B</dt>
	<dd><%= @item.tax_b_amount || '&nbsp;'.html_safe %></dd>
</dl>
