<% @title = "Show Appointment" %>
<div class="page-header">
	<h1><%= @appointment.start_at %> (Appointment)<% if can? :update, @appointment %><%= link_to "Edit Brand", edit_appointment_path(@current_account, @appointment), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>


<dl class="dl-horizontal">
	<dt>Patient</dt>
	<dd><%= @appointment.patient %></dd>
	<dt>Optometrist</dt>
	<dd><%= @appointment.optometrist %></dd>
	<dt>Start At</dt>
	<dd><%= @appointment.start_at %></dd>
	<dt>Duration</dt>
	<dd><%= @appointment.duration %></dd>
</dl>
