<% @title = "Optometrists" %>
<div class="page-header">
	<h1>Optometrists<% if can? :create, Optometrist %><%= link_to "New Optometrist", new_admin_optometrist_path, :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @optometrists.empty? then %>
<p>No optometrists found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Business Name</th>
			<th>City</th>
			<th>Phone</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @optometrists.each do |optometrist| %>
		<tr>
			<td><%= link_to optometrist.last_name, admin_optometrist_path(@current_account, optometrist) %></td>
			<td><%= link_to optometrist.first_name, admin_optometrist_path(@current_account, optometrist) %></td>
			<td><%= optometrist.business_name %></td>
			<td><%= optometrist.business_city %></td>
			<td><%= optometrist.phone %></td>
			<td><%= optometrist.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @optometrists %>
<% end %>