<%= simple_form_for [:admin, @country, @state], :html => { :class => "form-horizontal" } do |f| %>
	<%= f.input :name %>
	<%= f.input :short_name %>
	<%= f.input :active %>

	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
<% if @state.new_record? %>
		<%= link_to "Discard Changes", admin_country_path(@country), :class => "btn" %>
<% else %>
		<%= link_to "Discard Changes", admin_country_state_path(@country, @state), :class => "btn" %>
<% end %>
	</div>
<% end %>