<% @title = "States" %>
<div class="page-header">
	<h1>States<% if can? :create, Country %><%= link_to "New State", new_admin_country_state_path(@current_account, @country), :class => "btn btn-success pull-right" %><% end %></h1>
</div>

<form class="well form-search" method="get">
	<input name="q" value="<%= params[:q] %>" type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @states.empty? then %>
<p>No states found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Short Name</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
<% @states.each do |state| %>
		<tr>
			<td><%= link_to state.name, admin_country_state_path(@current_account, @country, state) %></td>
			<td><%= link_to state.short_name, admin_country_state_path(@current_account, @country, state) %></td>
			<td><%= state.active %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @states %>
<% end %>