<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="margin-top: 60px;">
<%= render "shared/navbar" %>

		<div class="container">
			<div class="row">
				<div class="span12">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " &raquo; " %>
				</div>
			</div>
			<div class="row">
				<div class="span12">
<% if flash[:error] %>
					<div class="alert alert-error">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:notice] %>
					</div>
<% end %>
<% if flash[:alert] %>
					<div class="alert alert">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:alert] %>
					</div>
<% end %>
<% if flash[:notice] %>
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:notice] %>
					</div>
<% end %>
<% if flash[:success] %>
					<div class="alert alert-success">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:success] %>
					</div>
<% end %>
<%= yield %>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="span3 visible-desktop">
						<h4>Product</h4>
						<ul class="unstyled">
							<li><a href="#">Feature Tour</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
					<div class="span3 visible-desktop">
						<h4>More</h4>
						<ul class="unstyled">
							<li><a href="#">Brand Safety Blog</a></li>
							<li><a href="#">API</a></li>
						</ul>
					</div>
					<div class="span3">
						<h4>Company</h4>
						<ul class="unstyled">
							<li><a href="#">About</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div>
					<div class="span3">
						<a href="http://www.opticarepro.com">Opticare Pro</a> by <a href="http://www.zoombugmedia.com">Zoombug Pty Ltd</a><br />Copyright 2012
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>