<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="margin-top: 60px;">
<%= render "shared/navbar" %>

		<div class="container">
			<div class="row">
				<div class="span12">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " &raquo; " %>
				</div>
			</div>
			<div class="row">
				<div class="span12">
<%= render "shared/flashnotice" %>

<%= yield %>
				</div>
			</div>
		</div>

<%= render "shared/footer" %>
	</body>
</html>