<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="margin-top: 60px;">
<%= render "shared/navbar" %>

		<div class="container">
			<div class="row">
				<div class="span12">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " &raquo; " %>
				</div>
			</div>
			<div class="row">
				<div class="span3 visible-desktop">
					<address class="well">
						<strong><%= @current_store.name %></strong><br>
						<%= @current_store.address %><br>
						<%= @current_store.city %>, <%= @current_store.state %>.<br>
						<abbr title="Phone">P:</abbr> <%= @current_store.phone %><br>
						<abbr title="Email">E:</abbr> <a href="mailto:<%= @current_store.email %>"><%= @current_store.email %></a><br>
						<abbr title="Web">W:</abbr> <a href="http://<%= @current_store.url %>"><%= @current_store.url %></a><br><br>
					</address>
					<address class="well">
						<strong>Hours</strong><br>
						<dl>
						<dt style="float: left; clear: left; width: 12ex">Monday<dt><dd><%= @current_store.monday_open.strftime('%H:%M') %> - <%= @current_store.monday_close.strftime('%H:%M') %></dd>
						<dt style="float: left; clear: left; width: 12ex">Tuesday<dt><dd><%= @current_store.tuesday_open.strftime('%H:%M') %> - <%= @current_store.tuesday_close.strftime('%H:%M') %></dd>
						<dt style="float: left; clear: left; width: 12ex">Wednesday<dt><dd><%= @current_store.wednesday_open.strftime('%H:%M') %> - <%= @current_store.wednesday_close.strftime('%H:%M') %></dd>
						<dt style="float: left; clear: left; width: 12ex">Thursday<dt><dd><%= @current_store.thursday_open.strftime('%H:%M') %> - <%= @current_store.thursday_close.strftime('%H:%M') %></dd>
						<dt style="float: left; clear: left; width: 12ex">Friday<dt><dd><%= @current_store.friday_open.strftime('%H:%M') %> - <%= @current_store.friday_close.strftime('%H:%M') %></dd>
						<dt style="float: left; clear: left; width: 12ex">Saturday<dt><dd><%= @current_store.saturday_open.strftime('%H:%M') %> - <%= @current_store.saturday_close.strftime('%H:%M') %></dd>
						<dt style="float: left; clear: left; width: 12ex">Sunday<dt><dd><%= @current_store.sunday_open.strftime('%H:%M') %> - <%= @current_store.sunday_close.strftime('%H:%M') %></dd>
						</dl>
					</address>
				</div>

				<div class="span9">
<% if flash[:error] %>
					<div class="alert alert-error">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:error] %>
					</div>
<% end %>
<% if flash[:alert] %>
					<div class="alert alert">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:alert] %>
					</div>
<% end %>
<% if flash[:notice] %>
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:notice] %>
					</div>
<% end %>
<% if flash[:success] %>
					<div class="alert alert-success">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:success] %>
					</div>
<% end %>
<%= yield %>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="span3 visible-desktop">
						<h4>Product</h4>
						<ul class="unstyled">
							<li><a href="#">Feature Tour</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
					<div class="span3 visible-desktop">
						<h4>More</h4>
						<ul class="unstyled">
							<li><a href="#">Brand Safety Blog</a></li>
							<li><a href="#">API</a></li>
						</ul>
					</div>
					<div class="span3">
						<h4>Company</h4>
						<ul class="unstyled">
							<li><a href="#">About</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div>
					<div class="span3">
						<a href="http://www.opticalhero.com">Optical Hero</a> by <a href="http://www.saasempire.com">SaaS Empire LLC</a><br />Copyright 2012-2013
					</div>
				</div>
			</div>
		</footer>	</body>
</html>