<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="margin-top: 60px;">
<%= render "shared/navbar" %>

		<div class="container">
			<div class="row">
				<div class="span12">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " &raquo; " %>
				</div>
			</div>
			<div class="row">
				<div class="span3 visible-desktop">
<% if @current_location != nil then %>
					<address class="well">
						<strong><%= @current_location.name %></strong><br>
						<%= @current_location.address %><br>
						<%= @current_location.city %>, <%= @current_location.state %>.<br>
						<abbr title="Phone">P:</abbr> <%= @current_location.phone %><br>
						<abbr title="Email">E:</abbr> <a href="mailto:<%= @current_location.email %>"><%= @current_location.email %></a><br>
						<abbr title="Web">W:</abbr> <a href="http://<%= @current_location.url %>"><%= @current_location.url %></a><br><br>
					</address>
					<address class="well">
						<strong>Hours</strong><br>
						<dl class="dl-horizontal">
						<dt>Monday<dt><dd><%= @current_location.monday_open.strftime('%H:%M') %> - <%= @current_location.monday_close.strftime('%H:%M') %></dd>
						<dt>Tuesday<dt><dd><%= @current_location.tuesday_open.strftime('%H:%M') %> - <%= @current_location.tuesday_close.strftime('%H:%M') %></dd>
						<dt>Wednesday<dt><dd><%= @current_location.wednesday_open.strftime('%H:%M') %> - <%= @current_location.wednesday_close.strftime('%H:%M') %></dd>
						<dt>Thursday<dt><dd><%= @current_location.thursday_open.strftime('%H:%M') %> - <%= @current_location.thursday_close.strftime('%H:%M') %></dd>
						<dt>Friday<dt><dd><%= @current_location.friday_open.strftime('%H:%M') %> - <%= @current_location.friday_close.strftime('%H:%M') %></dd>
						<dt>Saturday<dt><dd><%= @current_location.saturday_open.strftime('%H:%M') %> - <%= @current_location.saturday_close.strftime('%H:%M') %></dd>
						<dt>Sunday<dt><dd><%= @current_location.sunday_open.strftime('%H:%M') %> - <%= @current_location.sunday_close.strftime('%H:%M') %></dd>
						</dl>
					</address>
<% else %>
<p>No store configured</p>
<% end %>
				</div>

				<div class="span9">
<% if flash[:error] %>
					<div class="alert alert-error">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:error] %>
					</div>
<% end %>
<% if flash[:alert] %>
					<div class="alert alert">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:alert] %>
					</div>
<% end %>
<% if flash[:notice] %>
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:notice] %>
					</div>
<% end %>
<% if flash[:success] %>
					<div class="alert alert-success">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= flash[:success] %>
					</div>
<% end %>

<%= yield %>
				</div>
			</div>
		</div>

<%= render "shared/footer" %>
	</body>
</html>
